.repo-item {
    margin-bottom: 40px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    position: relative;
}

.repo-item .content {
    padding: 40px;
}

.repo-item .name {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 8px;
}

.repo-item .description {
    margin: 0;
}

.repo-item span.language {
    margin-top: 16px;
    font-size: 16px;
}

.repo-item span.stars {}

.repo-item span.forks {
    position: absolute;
    top: 16px;
    right: 96px;
    font-size: 16px;
}